# we don't overwrite the one on Git; use the template in setup to start
wranger.toml

# psm uses emacs ...
*~
.#*
*~
\#*
wrangler.toml
.secret.*
node_modules
/.mf/
yarn.lock
.DS_Store
.DS_Store/
yarn-error.log
.wrangler
.wrangler/
